#box1{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: width change 2s ease-in 0.5s;
}
#box1:hover{
    width: 600px;

}
#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(200px,200px) rotate(90deg);
   
}
#box3{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    transform: skewX(20deg);
}
#box4{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px black;
}
#mypic{
    width: 200px;
    height: 200px;
    background-color: pink;
    background-image: url("mypic.jpeg");
    background-size: cover;
    opacity: .5;
}