p{
    
    text-align: center;
    color: brown;
    line-height: 30px;
}
h1{
    text-align: center;
    color: red;
}
h3{
    color: #000000;
    text-align: center;
    text-decoration: underline;
}
*{
    font-family: Georgia;
}
a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: #000000;
}
span{
    text-decoration: underline;
}